body{
    background-image: url(images/backgroundParchemin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0e6d6;
}

header{
    background-color: black;
    color: white;
}